   <hr>
   <!-- ========== FOOTER ========== -->
<footer class="container space-2 text-center">
  <!-- Logo -->
  <a class="d-inline-flex align-items-center mb-3" href="#" aria-label="Front">
    <img src="assets/img/mavlonbek/logo.png" style="height: 32px; width: 48px" alt="Logo">
  </a>
  <!-- End Logo -->

  <p class="font-size-1 mb-1">The website is custom made by myself and if you would love to have similar website, feel free to contact me. For business: <a href="http://bloossom.com">Bloossom.com</a>.</p>
  <p class="font-size-1">© Mavlonbek. 2020. All rights reserved.</p>

  <!-- Social Networks -->
  <ul class="list-inline mb-0">
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="https://www.linkedin.com/in/mavlonbek/">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="https://medium.com/@mavlonbekmuratov">
        <i class="fab fa-medium-m"></i>
      </a>
    </li>
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="https://github.com/bayareaboy">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="https://twitter.com/mavlonbekmurod">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="https://instagram.com/mavlonbekmurod">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
  <!-- End Social Networks -->
</footer>
<!-- ========== END FOOTER ========== -->
   
   <!-- JS Global Compulsory -->
   <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
   <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 
   <!-- JS Front -->
   <script src="assets/js/hs.core.js"></script>
   <!-- JS Implementing Plugins -->
<script src="assets/vendor/slick-carousel/slick/slick.js"></script>

<!-- JS Front -->
<script src="assets/js/hs.slick-carousel.js"></script>

<!-- JS Plugins Init. -->
<script>
  // initialization of slick carousel
  $('.js-slick-carousel').each(function() {
    var slickCarousel = $.HSCore.components.HSSlickCarousel.init($(this));
  });
</script>
</body>
</html>